//whiteTheme
html[data-theme='light'] {
  --mainColor: #EFE4D6;
  --blockColor: #F5EEE5;
  --background: linear-gradient(140deg, rgba(239, 228, 214, 1) 0%, rgba(186, 199, 188, 1) 32%, rgba(124, 164, 157, 1) 69%, rgba(94, 147, 142, 1) 84%, rgba(61, 129, 126, 1) 95%, rgba(36, 115, 113, 1) 100%);
  --textColor: #747069;
  --elementCOlor: #247371;

}
//darkTheme
html[data-theme='dark'] {
  --background: linear-gradient(140deg, rgba(30,29,32,1) 0%, rgba(32,53,55,1) 32%, rgba(34,77,77,1) 59%, rgba(35,97,96,1) 87%, rgba(36,115,113,1) 100%);
  --textColor: black;
  --mainColor: #3e4043;
  --blockColor: #5b5e62;
  --elementCOlor: black;
}

//otherColor
